body,
html {
  color: #fff;
  font: lighter 20px sans-serif;
  margin: auto;
  text-align: left;
}

button {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: #fff;
  height: 40px;
  margin: 1px;
  padding: 1px;
  text-align: center;
  width: 170px;
}

button:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  color: #fff;
}

#clock {
  color: #fff;
  float: right;
  font-size: 20px;
  font-weight: 700;
  margin-right: 2.25%;
  margin-top: 0;
}

#date {
  color: #fff;
  float: left;
  font-size: 20px;
  font-weight: 700;
  margin-left: 1.25%;
  margin-top: 5px;
}

.msgs {
  bottom: 0;
  bottom: 100;
  color: #ff0;
  font-size: 32px;
  height: 30px;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 4px 4px 4px #000;
  top: 0;
  top: 0;
  width: 900px;
}

.pointer {
  cursor: pointer;
}

.yellow {
  color: #ff0;
}

.hue {
  -webkit-animation: hue 5s linear infinite;
  animation: hue 5s linear infinite;
  background: rgba(255, 255, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 50px #ff0;
  color: #ff0;
  color: #fff;
  padding: 10px;
}

.hue:hover {
  background: 0 0;
  color: #ff0;
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }

  20% {
    box-shadow: 1px 1px 50px #ff0;
  }

  30% {
    box-shadow: 1px 0 50px #ff0;
  }

  40% {
    box-shadow: 1px -1px 50px #ff0;
  }

  50% {
    box-shadow: 0 -1px 50px #ff0;
  }

  60% {
    box-shadow: -1px -1px 50px #ff0;
  }

  70% {
    box-shadow: -1px 0 50px #ff0;
  }

  80% {
    box-shadow: -1px 1px 50px #ff0;
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }

  10%,
  90% {
    box-shadow: 0 1px 50px #ff0;
  }
}

.content {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  color: #fff;
  font-size: 25px;
  height: 12%;
  line-height: 12px;
  margin-left: 7.5%;
  margin-top: 1%;
  padding: 20px;
  text-align: center;
  width: 80%;
}

.title {
  box-sizing: border-box;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.Title {
  display: inline-block;
  margin: 0 0 -15px;
  padding: 3px 0 25px 10px;
  vertical-align: middle;
  width: 1000px;
}

.container {
  border: 2px solid rgba(255, 255, 255, 0.6);
  bottom: 0;
  height: 15px;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  top: 80;
  width: 1000px;
}

@keyframes slidez0 {
  from {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    width: 0;
  }

  to {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    width: 500px;
  }
}

@keyframes slidez1 {
  from {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    width: 0;
  }

  to {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    width: 300px;
  }
}

@keyframes slidez2 {
  from {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    width: 301px;
  }

  to {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    width: 500px;
  }
}

@keyframes slidez3 {
  from {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    width: 501px;
  }

  to {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    width: 850px;
  }
}

@keyframes slidez4 {
  from {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    width: 851px;
  }

  to {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    width: 1000px;
  }
}

.info {
  bottom: 0;
  bottom: 180px;
  font-size: 32px;
  height: 30px;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 1200px;
}

#CacheProgress {
  background-color: #1b3d8f;
  bottom: 10px;
  box-shadow: 0 0 0 2px #bbceef;
  height: 15px;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 50px;
  width: 1076px;
}

#CacheBar {
  background-color: green;
  height: 100%;
  width: 0;
}

.cacheUPDbg {
  background-color: #1a1920;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 1s;
  width: 100%;
  z-index: 900;
}

.cacheUPD {
  align-items: left;
  bottom: 0;
  color: #fff;
  font: 32px/30px sans-serif;
  height: 400px;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: 4px 4px 4px #000;
  top: 280px;
  width: 1100px;
  z-index: 901;
}

#clock {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: 700;
  margin-right: 2.25%;
  margin-top: 18px;
}

#date {
  color: #fff;
  float: left;
  font-size: 28px;
  font-weight: 700;
  margin-left: 1.25%;
  margin-top: 18px;
}

#msgs2 {
  font-size: 17px;
  font-weight: 700;
  text-shadow: 4px 4px 4px #000;
}

.pointer {
  cursor: pointer;
}

#fail,
#msgs {
  font-size: 32px;
  text-shadow: 4px 4px 4px #000;
}
